@charset "UTF-8";

:root {
    --red: #E50914;
    --black: #141414;
    --grey: #AFAFAF;
    --white: #EFEFEF;
}

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}
body {
    background-color: var(--black);
    color: var(--white);
}
.material-icons { 
    vertical-align: text-top; 
}
.logo { 
    color: var(--red); 
    font-family: 'Arial Black', 'Times'; 
    font-size: 2.25em;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5em 4em;
}
header nav a { 
    text-decoration: none;
    color: var(--grey);
    margin-right: 2em;
    font-size: .875em;
}
header nav a:hover {
    color: var(--white);
}

/* FEATURED */
.featured { 
    height: 600px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    position: relative;
}
.featured::before { 
    background: linear-gradient(
        to left,
        rgba(0,0,0,0.4) 0%,
        rgba(0,0,0,1) 55%
    );
    content: ''; 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.featured img {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; 
    object-fit: contain; 
    object-position: center right;
}
.featured .container { 
    margin: 0 100px; 
    max-width: 50%;
}
.featured h3 { 
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}
.featured p { 
    font-size: 1.25vw;
    line-height: 1.25em;
    color: var(--grey);
}
.featured .buttons {
    width: 66%; 
    display: flex; 
    justify-items: space-between; 
    margin-top: 2em;
}
.featured button { 
    flex: 1.5;
    font-size: 1.25em;
    padding: 1em .25em;
    background: var(--black); 
    border: 1px solid var(--white); 
    border-radius: .5em; 
    color: var(--white); 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: .3s ease all;
}
.featured button:hover { 
    background: var(--grey); 
    color: var(--black); 
}
.featured button:first-of-type { 
    flex: 1;
    margin-right: 50px; 
    color: var(--black); 
    background: var(--white);
}
.featured button:first-of-type:hover { 
    background: var(--grey);
}

/* CATEGORY */
.category { 
    padding: 1em 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    overflow: hidden;
}
.category h2 {
    margin: 1em 0 1em 10rem;
}
.glider-container { 
    margin: 0 2em;
}
.category h2:not(:first-of-type){
    margin-top: 3em;
}
.glider div {
    gap: 1em;
}
.glider div:first-of-type {
    margin-left: 5em;
}
.glider div:last-of-type {
    margin-right: 1em;
}
button.glider-prev {
    left: 0;
}
button.glider-next {
    right: 0;
}
footer { 
    margin: 4em 0 2em 0;
    text-align: center;
}